<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.1">
	<head>
		<title>Castcloud OPML Export</title>
		<dateCreated></dateCreated>
		<dateModified></dateModified>
		<ownerName><%- username %></ownerName> 
		<ownerEmail></ownerEmail>
	</head>
	<body>
	<% for (var i = 0, len = casts.length; i < len; i++) { %>
		<outline
			type="rss"
			title="<%- casts[i].name %>"
			text="<%- casts[i].name %>"
			xmlUrl="<%- casts[i].url %>" />
	<% } %>
	</body>
</opml>